<div class="comic">
  <h3>Title:</h3>
  <p>{{comicBook.title}}</p>
  <h3>Publisher:</h3>
  <p>{{comicBook.publisher}}</p>
  <h3>Issue:</h3>
  <p>{{comicBook.issue}}</p>
  <h3>URL to Purchase/Download Comic Book</h3>
  <p>{{comicBook.url}}</p>
  <h3>Review</h3>
  <p>{{comicBook.review}}</p>
</div>

