<section class="comicPage"> 
<div class="indigo-text text-darken-4">
  <h5>Title:</h5>
  <p>{{comicBook.title}}</p>
  <h5>Publisher:</h5>
  <p>{{comicBook.publisher}}</p>
  <h5>Issue:</h5>
  <p>{{comicBook.issue}}</p>
  <h5>URL to Purchase/Download Comic Book</h5>
  <p>{{comicBook.url}}</p>
  <h5>Review</h5>
  <p>{{comicBook.review}}</p>
</div>

<h4 class="indigo-text text-darken-4">Edit Entry</h4>
    <form action="/{{comicBook._id}}?_method=put" method="post"><br>
      {{!-- you can use the value attribute to auto populate a form with existing data --}}
      {{!-- this is helpful if you want to update only part of your model without clearing the rest --}}
      {{!-- you can use label tags to show what each input is used for --}}
      <label>Title</label>
      <input type="text" name="editComic[title]" value="{{comicBook.title}}"><br>
      <label>Publisher</label>
      <input type="text" name="editComic[publisher]" value="{{comicBook.publisher}}"><br>
      <label>Issue Number</label>
      <input type="number" name="editComic[issue]" value="{{comicBook.issue}}"><br>
      <label>Buy Digital Comic Book</label>
      <input type="text" name="editComic[url]" value="{{comicBook.url}}"><br>
      <label>Review</label>
      <textarea type="text" name="editComic[review]" value="{{comicBook.review}}"></textarea><br>
      <button type="submit" class="updateButton submitButton btn waves-effect">Update</button>
    </form>

  <h4 class="indigo-text text-darken-4">Delete Entry</h4>
  <form action="/{{comicBook._id}}?_method=delete" method="post">
    <button type="submit" class="deleteButton submitButton btn waves-effect">Delete</button>
  </form>
</section>

